.App {
	width: 100vw;
	height: 100vh;
	background-color: rgb(36, 29, 29);
	color: rgb(103, 103, 222);

	display: flex;
	flex-direction: column;
}

.light {
	background-color: rgb(36, 29, 29);
	color: rgb(103, 103, 222);
}

.dark {
	background-color: whitesmoke;
	color: rgb(36, 29, 29);
}

.introText {
	flex-grow: 1;
}

.mode {
	flex-grow: 1;
	align-self: flex-end;
	margin-right: 2em;
	margin-top: 2em;
}